Source: ucs-school-netlogon-italc
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, univention-config-dev

Package: ucs-school-netlogon-italc
Architecture: all
Depends: univention-config-registry
Description: univention netlogon script
 Univention machine startup script - copies iTALC public teacher key to windows system
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
