Source: ucs-school-s4-branch-site
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (= 12),
 ucslint,
Standards-Version: 3.5.2

Package: ucs-school-s4-branch-site
Architecture: all
Depends:
 python-ucs-school (>= 12.1.9),
 univention-config-registry,
 univention-s4-connector,
 ${misc:Depends},
Description: UCS@school Samba4 branch site configuration
 This package contains support for UCS@school Samba4 branch site configuration.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
