Source: ucs-school-s4-branch-site
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 ucslint,
 python-support,
 python-all
Standards-Version: 3.5.2
XS-Python-Version: 2.6, 2.7

Package: ucs-school-s4-branch-site
Architecture: all
Depends: ${misc:Depends},
 univention-config-registry,
 python-ucs-school (>= 5.0.3-20),
 univention-s4-connector,
Description: UCS@school Samba4 branch site configuration
 This package contains support for UCS@school Samba4 branch site configuration.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
