Source: ucs-school-reservation-dbconnector
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, python-central
Standards-Version: 3.7.2
XS-Python-Version: all

Package: ucs-school-reservation-dbconnector
Architecture: all
Depends: ucs-school-reservation-database, python-mysqldb
XB-Python-Version: all
Description: Database connector for the reservation system.
 This package contains the database bindings for the UCS@School
 reservation system.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
