Source: ucs-school-netlogon-user-logonscripts
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 dh-systemd,
 python-all,
 python3-all,
 ucslint,
 univention-config-dev,
 univention-join-dev,
 imagemagick
Standards-Version: 3.8.2

Package: ucs-school-netlogon-user-logonscripts
Architecture: all
Breaks:
 ucs-school-import (<< 17.0.63),
 ucs-school-lib (<< 12.2.28),
Depends:
 shell-univention-lib,
 ucs-school-netlogon,
 univention-config,
 univention-config-registry,
 univention-directory-listener,
 univention-directory-manager-tools,
 univention-ldap-client,
 ${python3:Depends},
 ${python:Depends},
Provides:
 ${python3:Provides},
 ${python:Provides},
Description: UCS@school userspecific netlogon scripts
 This package provides a listener-module that creates
 specific netlogon scripts for each local user.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
