Source: ucs-school-umc-diagnostic
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 python-all,
 python3-all,
 ucslint,
Standards-Version: 3.7.2

Package: ucs-school-umc-diagnostic
Architecture: all
Depends:
 univention-management-console-module-diagnostic (>= 5.0.1-21),
 ucs-school-lib-common (>= 13.0.38),
 python3-ucsschool-lib (>= 13.0.38),
 ${misc:Depends},
 ${python3:Depends},
 ${python:Depends},
Provides:
 ${python3:Provides},
 ${python:Provides},
Description: System Diagnosis modules for UCS@school
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
