Source: ucs-test-ucsschool
Section: tools
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 python-all,
 python3-all,
 ucslint,
Standards-Version: 3.6.1

Package: ucs-test-ucsschool
Architecture: all
Breaks:
 ucs-school-import (<< 17.0.63),
 ucs-school-lib (<< 12.2.28),
Depends:
 eapol,
 python-attr,
 python-mock,
 python-passlib,
 python-pycurl,
 python-pytest,
 python-requests,
 python-ucs-school (>= 12.1.9),
 python3-attr,
 python3-mock,
 python3-passlib,
 python3-pycurl,
 python3-pytest,
 python3-requests,
 python3-ucsschool-lib,
 ucs-test-framework (>= 9.0.2-90),
 ucs-test-libs,
 univention-unittests,
 ${misc:Depends},
 ${python3:Depends},
 ${python:Depends},
Provides:
 ucs-test-module,
 ${python3:Provides},
 ${python:Provides},
Description: Additional UCS@school tests for ucs-test
 This package includes some UCS@school related tests for ucs-test.
