[submodule "italc-windows/italc.git"]
	path = italc-windows/italc.git
	url = ../italc
[submodule "italc/italc"]
	path = italc/italc
	url = ../italc
[submodule "doc/doc-common"]
	path = doc/doc-common
	url = ../doc-common
	branch = master
