[submodule "italc-windows/italc.git"]
	path = italc-windows/italc.git
	url = ../italc
	branch = ucsschool-windows
[submodule "italc/italc"]
	path = italc/italc
	url = ../italc
	branch = ucsschool-master
[submodule "doc/doc-common"]
	path = doc/doc-common
	url = ../doc-common
	branch = master
[submodule "doc/kelvin/sphinx-univention"]
	path = doc/kelvin/sphinx-univention
	url = git@git.knut.univention.de:univention/internal/sphinx-univention.git
