Source: univention-nut-ups
Section: unknown
Priority: optional
Maintainer: Moritz Muehlenhoff <muehlenhoff@univention.de>
Build-Depends: debhelper (>= 4.0.0), univention-config-dev
Standards-Version: 3.6.1

Package: univention-nut-ups
Architecture: any
Depends: nut, nut-usb
Description: UCS Ellipse UPS configuration
 This package contains configurations to use an Ellipse 1000
 UPS on an UCS system.
