Source: ucs-school-lib
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7),
 ucslint,
 univention-config-dev,
 python-all,
 python-support (>= 0.90)
Standards-Version: 3.8.2
XS-Python-Version: 2.6, 2.7

Package: python-ucs-school
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 univention-management-console,
 univention-config-registry,
 python-univention-directory-manager,
 python-univention-lib
Provides: ${python:Provides}
Description: UCS@school - common Python modules
 This package contains Python modules used by various
 components of UCS@school.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: shell-ucs-school
Architecture: all
Depends: ${misc:Depends}
Description: UCS@school - common shell functions
 This package contains shell functions used by various
 components of UCS@school.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
