Source: ucs-school-umc-installer
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 python-support,
 univention-management-console-dev,
 python-all,
 ucslint
Standards-Version: 3.8.2
XS-Python-Version: 2.6

Package: ucs-school-umc-installer
Architecture: all
Depends: ${misc:Depends},
 univention-management-console-server,
 python-paramiko,
 python-dnspython,
 python-notifier,
 univention-updater,
 python-univention-lib (>= 2.0.17-1.116),
 python-univention-directory-manager,
 univention-management-console-module-lib,
 ucs-school-umc-common,
 python-ucs-school
Description: This installation wizard guides the installation of UCS@school in the domain
 This installation wizard guides the installation of UCS@school in the domain
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: ucs-school-umc-installer-preview
Architecture: all
Depends: ${misc:Depends},
 univention-management-console-server,
 python-paramiko,
 python-dnspython,
 python-notifier,
 univention-updater,
 python-univention-lib (>= 2.0.17-1.116),
 python-univention-directory-manager,
 univention-management-console-module-lib,
 ucs-school-umc-common,
 python-ucs-school
Description: This installation wizard guides the installation of an UCS@school preview
 This installation wizard guides the installation of an UCS@school milestone in
 the domain.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
