Source: ucs-school-umc-installer
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 python-all,
 python3-all,
 ucslint,
 univention-management-console-dev (>= 11.0.4-37),
Standards-Version: 3.8.2

Package: ucs-school-umc-installer
Architecture: all
Depends:
 python-dnspython,
 python-ldap,
 python-notifier,
 python-six,
 python-ucs-school,
 python-univention-directory-manager,
 python-univention-lib (>= 2.0.17-1.116),
 python3-dnspython,
 python3-ldap,
 python3-notifier,
 python3-six,
 python3-ucsschool-lib,
 python3-univention-directory-manager,
 python3-univention-lib,
 shell-univention-lib,
 ucs-school-umc-common,
 univention-management-console-module-lib,
 univention-management-console-server (>= 11.0.4-37),
 univention-updater,
 ${misc:Depends},
 ${python3:Depends},
 ${python:Depends},
Provides:
 ${python3:Provides},
 ${python:Provides},
Description: This installation wizard guides the installation of UCS@school in the domain
 This installation wizard guides the installation of UCS@school in the domain
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
