Source: ucs-school-umc-installer
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 python-support,
 univention-management-console-dev,
 python-all,
 ucslint,
 ucs-school-umc-common,
 python-dnspython
Standards-Version: 3.7.2
XS-Python-Version: 2.6

Package: ucs-school-umc-installer
Architecture: all
Depends: ${misc:Depends},
 univention-management-console-server,
 python-paramiko,
 devscripts
Description: This installation wizard guides the installation of UCS@school in the domain
 This installation wizard guides the installation of UCS@school in the domain
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
