Source: ucs-school-selfservice-support
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (= 12),
 ucslint,
 univention-join-dev,
Standards-Version: 3.8.2

Package: ucs-school-selfservice-support
Architecture: all
Depends:
 shell-ucs-school (>= 10.0.2-9),
 shell-univention-lib,
 ucs-school-import,
 ${misc:Depends},
Description: Package for running the self-service app in a UCS@school domain
 This package provides scripts for running the self-service app in a
 UCS@school domain. It should be installed on the Primary Directory Node and
 Backup Directory Nodes only.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
Homepage: https://www.univention.de/produkte/ucsschool/
