[Global]
parallel: true
openstack_flavor_name: UNIVENTION-8V-8-100s
extra_label: ucsschool-branch-test-[ENV:CI_COMMIT_REF_SLUG]

environment:
 TARGET_VERSION=[ENV:TARGET_VERSION]
 APPVERSION_TO_INSTALL=[ENV:APPVERSION_TO_INSTALL]
 PACKAGES_TO_TEST=[ENV:PACKAGES_TO_TEST]

[singleserver]
openstack_image_name: [ENV:TARGET_VERSION]-dev-ucsschool-singleserver
command1:
 # Setup
 . utils.sh && add_tech_key_authorized_keys
 . utils.sh && basic_setup
 . utils.sh && upgrade_to_latest_errata
 systemctl restart univention-directory-manager-rest.service  # stopped after upgrade #59577
 univention-app restart provisioning-service  # ensure connection to udm rest is working
 systemctl restart univention-directory-listener.service
 . utils.sh && assert_version "[ENV:TARGET_VERSION]"
 . utils.sh && assert_join
 . utils.sh && install_additional_packages ucs-test ucs-test-ucsschool
 # Bug #54228: run tests without stopping the notifier during imports, to detect problems
 ucr set --force ucsschool/stop_notifier=no
command2:
 # Install branch app
 univention-app dev-use-test-appcenter
 . utils-school.sh && UCSSCHOOL_UPGRADE_VERSION="$APPVERSION_TO_INSTALL" upgrade_ucsschool_to_version
 echo "Run tests for $PACKAGES_TO_TEST"
 ucs-test -F junit -f -E dangerous $(for PKG in $PACKAGES_TO_TEST; do echo -n " -r $PKG"; done)
 LOCAL /usr/lib/python3/dist-packages/univention/ec2/utils/utils-local.sh fetch-results [SELF_IP] results/[SELF]
