Source: ucs-school-veyon-client
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 python-requests,
 python3-requests,
 python-typing,
 python-enum34,
 ucslint,
 univention-unittests,
Standards-Version: 3.7.2

Package: ucs-school-veyon-client
Architecture: all
Breaks:
 ucs-school-import (<< 17.0.63),
 ucs-school-lib (<< 12.2.28),
Depends:
 python-requests,
 python3-requests,
 ${misc:Depends},
 ${python3:Depends},
 ${python:Depends},
Provides:
 ${python3:Provides},
 ${python:Provides},
Description: This is a package that provides a python client for
 the veyon network API.
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
