Source: sfb-quota-logon-msg
Section: master
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 4.0.0), univention-config-dev
Standards-Version: 1.0.0

Package: sfb-quota-logon-msg
Architecture: all
Description: display logon msg if home share is short of free disk space
