#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.


D=$(CURDIR)/debian/installdir
D2=$(CURDIR)/debian/sfb-import-schema


# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	install -m 755 SFB_import debian/sfb-import/usr/local/sbin/SFB_import
	ln -s SFB_import debian/sfb-import/usr/local/sbin/SFB_import/create_ou
	ln -s SFB_import debian/sfb-import/usr/local/sbin/SFB_import/import_user
	ln -s SFB_import debian/sfb-import/usr/local/sbin/SFB_import/import_group
	ln -s SFB_import debian/sfb-import/usr/local/sbin/SFB_import/import_networks
	ln -s SFB_import debian/sfb-import/usr/local/sbin/SFB_import/import_computer
	ln -s SFB_import debian/sfb-import/usr/local/sbin/SFB_import/import_inventory_number
	ln -s SFB_import debian/sfb-import/usr/local/sbin/SFB_import/activate_groupmembers
	ln -s SFB_import debian/sfb-import/usr/local/sbin/SFB_import/export_computer
	install -m 755 sfb-change-share-server debian/sfb-import/usr/local/sbin/sfb-change-share-server
	
	install -m 755 82univention-sfb-import-custom-attributes.inst $(D2)/usr/lib/univention-install/
	install -m 755 schema/sfb-import.schema $(D2)/usr/share/univention-ldap/schema
	
	univention-install-config-registry

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
#	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
	dh_installcron
	dh_installman
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
