.computerroomGrid .umcGridHeader {
	display: block !important;
}

.computerroomGrid .umcGrid__toolbar {
	float: left !important;
}
.computerroomGrid .umcGrid__contextWrapper {
	float: left !important;
}

.computerroomGrid .umcGridStatus {
	width: 100% !important;
}

