/*
 * SPDX-FileCopyrightText: 2025 Univention GmbH
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.computerroomGrid .umcGridHeader {
	display: grid !important;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	grid-template-areas: 	"exam exam"
							"standard extra"
							"status status";
}

.computerroomGrid .computerroomGrid__examButtons {
	grid-area: exam;
	margin-bottom: var(--layout-spacing-unit);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--layout-spacing-unit) 0;
}

.computerroomGrid .umcGrid__actionButtonsWrapper {
	grid-area: standard;
}

.computerroomGrid .computerroomGrid__extraButtons {
	grid-area: extra;
	display: flex;
	flex-wrap: wrap;
	gap: var(--layout-spacing-unit) 0;
	justify-content: flex-end;
}
.computerroomGrid .computerroomGrid__extraButtons .ucsButton:not(:first-child) {
	margin-left: var(--layout-spacing-unit);
}
.computerroomGrid .computerroomGrid__extraButtons .ucsButton:not(:last-child) {
	margin-right: 0 !important;
}

.computerroomGrid .umcGridStatusWrapper {
	grid-area: status;
	margin-top: var(--layout-spacing-unit);
}

@media (max-width: 991px) {
	.computerroomGrid .umcGridHeader {
		grid-template-columns: auto;
		grid-template-rows: auto auto auto auto;
		grid-template-areas: 	"exam"
								"standard"
								"extra"
								"status";
	}
	.computerroomGrid .computerroomGrid__extraButtons {
		margin-top: var(--layout-spacing-unit);
	}
}

.computerroomSettingsButton--warning {
	--bgc: var(--bgc-error);
}

/* note in Grid */
.examEndTimeNote {
	padding: 0 calc(2 * var(--layout-spacing-unit)) 0 var(--layout-spacing-unit);
}
.examEndTimeNote--warning {
	color: var(--font-color-error);
}


/* ScreenshotView.js */
.screenShotView__screenshotContainer {
	display: grid;
	--local-columns-count: 1;
	grid-template-columns: repeat(var(--local-columns-count), 1fr);
}
.screenShotView__imgThumbnail {
	position: relative;
	padding: var(--layout-spacing-unit-small);
	display: flex;
	flex-direction: column;
	background: var(--bgc-inputfield-on-container);
	border-radius: var(--border-radius-tooltip);
	margin: var(--layout-spacing-unit-small);
	min-height: 100px;
}
.screenShotView__userTag {
	flex: 0 0 auto;
	align-self: flex-start;
	padding-bottom: var(--layout-spacing-unit-small);
}
.screenShotView__imgWrapper {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: zoom-in;
}
.screenShotView__large_imgOverlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	cursor: zoom-out;
}
.screenShotView__figure {
	margin: 0;
	width: 100%;
	height: 100%;
}
.screenShotView__large_imgWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100% - 4em);
}
.screenShotView__large_caption-container {
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.screenShotView__large_img {
	height: 100%;
	width: calc(100% - 4em);
	object-fit: contain;
	background-color: rgba(0, 0, 0, 0.7);
}
.screenShotView__img {
	width: 100%;
}
.screenShotView__noComputersText {
	display: flex;
	justify-content: center;
	color: var(--font-color-contrast-middle);
}
.computerroomComputerInfoTable td:first-child {
	padding-right: var(--layout-spacing-unit)
}
