Source: italc
Section: x11
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: cdbs, debhelper (>= 7.0), libqt4-dev (>= 4.2.2), cmake, zlib1g-dev, libjpeg62-dev, libssl-dev, imagemagick, libxtst-dev, libxdamage-dev, libxfixes-dev, libxinerama-dev, libxrandr-dev, gcj, libpam0g-dev, ucslint
Standards-Version: 3.7.3
Homepage: http://italc.sourceforge.net/home.php

Package: italc-master
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, italc-client, libitalc (=${binary:Version})
Description: iTALC Master Application
 iTALC makes it possible, to access and influence the pupils 
 activities just from the computer of the teacher. With the 
 help of iTALC, for example the teacher is able to see the 
 content of the pupils screens on his screen. If a pupil needs 
 help, the teacher can access the pupils desktop and give support 
 from his computer. The pupil can watch all activities, the 
 teacher is doing on his desktop. So the pupil can learn new processes. 
 For teaching something to all pupils, you can switch into demo-mode 
 where all screens of the pupils show the teacher-screen. 
 Furthermore things like locking pupil's screens, killing games, 
 power on/off clients and much more can be done with iTALC. 
 .
 This package contains the software necessary to observe and control iTALC
 clients provided by the italc-client package.

Package: italc-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libitalc (=${binary:Version}), shell-univention-lib, italc-management-console
Description: iTALC Client Application
 iTALC makes it possible, to access and influence the pupils 
 activities just from the computer of the teacher. With the 
 help of iTALC, for example the teacher is able to see the 
 content of the pupils screens on his screen. If a pupil needs 
 help, the teacher can access the pupils desktop and give support 
 from his computer. The pupil can watch all activities, the 
 teacher is doing on his desktop. So the pupil can learn new processes. 
 For teaching something to all pupils, you can switch into demo-mode 
 where all screens of the pupils show the teacher-screen. 
 Furthermore things like locking pupil's screens, killing games, 
 power on/off clients and much more can be done with iTALC. 
 .
 This package contains the client software for iTALC that can be controlled
 using italc-master.

Package: libitalc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: iTALC Core library
 iTALC makes it possible, to access and influence the pupils
 activities just from the computer of the teacher. With the
 help of iTALC, for example the teacher is able to see the
 content of the pupils screens on his screen. If a pupil needs
 help, the teacher can access the pupils desktop and give support
 from his computer. The pupil can watch all activities, the
 teacher is doing on his desktop. So the pupil can learn new processes.
 For teaching something to all pupils, you can switch into demo-mode
 where all screens of the pupils show the teacher-screen.
 Furthermore things like locking pupil's screens, killing games,
 power on/off clients and much more can be done with iTALC.
 .
 This package provides the necessary library for italc

Package: italc-management-console
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libitalc (=${binary:Version})
Description: iTALC Management Console
 iTALC makes it possible, to access and influence the pupils 
 activities just from the computer of the teacher. With the 
 help of iTALC, for example the teacher is able to see the 
 content of the pupils screens on his screen. If a pupil needs 
 help, the teacher can access the pupils desktop and give support 
 from his computer. The pupil can watch all activities, the 
 teacher is doing on his desktop. So the pupil can learn new processes. 
 For teaching something to all pupils, you can switch into demo-mode 
 where all screens of the pupils show the teacher-screen. 
 Furthermore things like locking pupil's screens, killing games, 
 power on/off clients and much more can be done with iTALC. 
 .
 This package contains the iTALC Management Console which allows to
 control and configure iTALC installations.

Package: libitalc-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libitalc
Description: iTALC development files
 iTALC makes it possible, to access and influence the pupils
 activities just from the computer of the teacher. With the
 help of iTALC, for example the teacher is able to see the
 content of the pupils screens on his screen. If a pupil needs
 help, the teacher can access the pupils desktop and give support
 from his computer. The pupil can watch all activities, the
 teacher is doing on his desktop. So the pupil can learn new processes.
 For teaching something to all pupils, you can switch into demo-mode
 where all screens of the pupils show the teacher-screen.
 Furthermore things like locking pupil's screens, killing games,
 power on/off clients and much more can be done with iTALC.
 .
 This package provides the header files for libitalc

Package: italc-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libitalc (= ${binary:Version}),
 ${misc:Depends}
Description: debugging symbols for libitalc
 iTALC makes it possible, to access and influence the pupils
 activities just from the computer of the teacher. With the
 help of iTALC, for example the teacher is able to see the
 content of the pupils screens on his screen. If a pupil needs
 help, the teacher can access the pupils desktop and give support
 from his computer. The pupil can watch all activities, the
 teacher is doing on his desktop. So the pupil can learn new processes.
 For teaching something to all pupils, you can switch into demo-mode
 where all screens of the pupils show the teacher-screen.
 Furthermore things like locking pupil's screens, killing games,
 power on/off clients and much more can be done with iTALC.
 .
 This package contains the debugging symbols for libitalc.
