#!/usr/bin/make -f
#
# Univention UCS@school italc postinst
#
# Copyright 2012-2013 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# The source code of this program is made available
# under the terms of the GNU Affero General Public License version 3
# (GNU AGPL V3) as published by the Free Software Foundation.
#
# Binary versions of this program provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention and not subject to the GNU AGPL V3.
#
# In the case you use this program under the terms of the GNU AGPL V3,
# the program is provided in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License with the Debian GNU/Linux or Univention distribution in file
# /usr/share/common-licenses/AGPL-3; if not, see
# <http://www.gnu.org/licenses/>.

%:
	dh $@

override_dh_build:
	ucslint
	dh_build

override_dh_strip:
	dh_strip --dbg-package=italc-dbg

override_dh_clean:
	tar xvfj italc-2.0.0.tar.bz2 --strip-components=1
	patch -p1 -i patches/001_qt-signals.patch
	patch -p1 -i patches/002_thread-wait-for-termination.patch
	patch -p1 -i patches/004_UPSTREAM_fix_race_condition.patch
	patch -p1 -i patches/005_UPSTREAM_exit_mainloop_early.patch
	patch -p1 -i patches/006_UPSTREAM_init_local_variable.patch
	patch -p1 -i patches/007_added-safe-shutdown-function.patch
	dh_clean

override_dh_install:                                                                                                                                                                                            
	dh_install --sourcedir=debian/tmp                                                                                                                                                                       
	install -D -m 755 99ucsschool-italc-key.inst debian/italc-client/usr/lib/univention-install
	install -D -m 644 obj-*/rfb/rfbconfig.h debian/libitalc-dev/usr/include/libitalc/rfb/
	install -D -m 644 obj-*/italcconfig.h debian/libitalc-dev/usr/include/libitalc/
