#!/usr/bin/make -f

%:
	dh $@

override_dh_clean:
	tar xvfj italc-2.0.0.tar.bz2 --strip-components=1
	dh_clean

override_dh_install:                                                                                                                                                                                            
        dh_install --sourcedir=debian/tmp                                                                                                                                                                       
        install -D -m 644 obj-*/rfb/rfbconfig.h debian/libitalc-dev/usr/include/libitalc/rfb/
        install -D -m 644 obj-*/italcconfig.h debian/libitalc-dev/usr/include/libitalc/
