Source: ucs-school-italc
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper (>> 10),
 dh-python,
 libitalc-dev (>> 1:2.0.0),
 libqt4-dev,
 python-qt4,
 python-qt4-dev,
 python-sip-dev,
 python2.7,
 python2.7-dev,
 ucslint,
Standards-Version: 3.7.3

Package: python-italc
Architecture: any
Breaks:
 ucs-school-import (<< 17.0.63),
 ucs-school-lib (<< 12.2.28),
Depends:
 libitalc (>> 1:2.0.0),
 python-qt4,
 python2.7,
 ${misc:Depends},
 ${python:Depends},
 ${shlibs:Depends},
 ${sip:Depends},
Description: Intelligent Teaching and Learning with Computers
 iTALC makes it possible, to access and influence the pupils
 activities just from the computer of the teacher. With the
 help of iTALC, for example the teacher is able to see the
 content of the pupils screens on his screen. If a pupil needs
 help, the teacher can access the pupils desktop and give support
 from his computer. The pupil can watch all activities, the
 teacher is doing on his desktop. So the pupil can learn new processes.
 For teaching something to all pupils, you can switch into demo-mode
 where all screens of the pupils show the teacher-screen.
 Furthermore things like locking pupil's screens, killing games,
 power on/off clients and much more can be done with iTALC.
 .
 This package provides the python bindings for libitalc
