Source: ucs-school-metapackage
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0), univention-config-dev, ucslint
Standards-Version: 3.8.2

Package: ucs-school-master
Architecture: all
Conflicts: ucs-school-singlemaster
Depends: univention-ldap-server (>= 8.0.77-4),
 univention-ldap-acl-master (>= 8.0.77-4),
 univention-directory-manager-tools (>= 7.0.234-1),
 ucs-school-import,
 ucs-school-ldap-acls-master,
 ucs-school-umc-helpdesk-schema,
 ucs-school-info,
 ucs-school-umc-installer,
 python-univention (>= 6.0.21-1),
 univention-management-console-module-selective-udm,
 univention-management-console (>= 4.0.231-1),
 univention-management-console-frontend (>= 1.0.320-1),
 univention-management-console-web-server (>= 1.0.320-1),
 python-univention-lib (>= 1.0.51-3),
 shell-univention-lib (>= 1.0.51-3),
 univention-samba4-sysvol-sync,
 univention-config
Recommends:
 ucs-school-umc-groups,
 ucs-school-umc-users,
 ucs-school-umc-rooms,
 ucs-school-umc-wizards,
 ucs-school-umc-exam-master,
Description: UCS@School meta package for UCS DC Master System (multi server environment)
 This meta package installs all required packages for UCS@School on
 a UCS domaincontroller master. The domaincontroller master will be 
 configured for a multi server environment. The package ucs-school-slave
 has to be installed on all domaincontroller slave systems.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: ucs-school-slave
Architecture: all
Depends: univention-ldap-server (>= 8.0.77-4),
 univention-ldap-acl-slave (>= 8.0.77-4),
 univention-directory-manager-tools (>= 7.0.234-1),
 univention-samba4 (>= 1.0.138-11) | univention-samba (>= 6.0.27-1),
 univention-s4-connector (>= 6.0.128-24) | univention-samba-slave-pdc,
 libunivention-ldb-modules | univention-samba (>= 6.0.27-1),
 ucs-school-netlogon-user-logonscripts,
 ucs-school-old-homedirs,
 ucs-school-old-sharedirs,
 ucs-school-info,
 ucs-school-umc-installer,
 univention-management-console (>= 4.0.231-1),
 univention-management-console-frontend (>= 1.0.320-1),
 univention-management-console-web-server (>= 1.0.320-1),
 python-univention (>= 6.0.21-1),
 ucs-school-netlogon,
 shell-ucs-school,
 python-univention-lib (>= 1.0.51-3),
 shell-univention-lib (>= 1.0.51-3),
 univention-config
Recommends:
 ucs-school-branding,
 ucs-school-umc-computerroom,
 ucs-school-umc-distribution,
 ucs-school-umc-exam,
 ucs-school-umc-groups,
 ucs-school-umc-helpdesk,
 ucs-school-umc-internetrules,
 ucs-school-umc-lessontimes,
 ucs-school-umc-printermoderation,
 ucs-school-umc-users,
 ucs-school-umc-rooms,
 ucs-school-webproxy,
Description: UCS@School meta package for UCS DC Slave System
 This meta package installs all required packages for UCS@School on
 a UCS domaincontroller slave. The package ucs-school-master
 has to be installed on domaincontroller master/backup systems.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: ucs-school-singlemaster
Architecture: all
Conflicts: ucs-school-master
Depends: univention-ldap-server (>= 8.0.77-4),
 univention-ldap-acl-master (>= 8.0.77-4),
 univention-directory-manager-tools (>= 7.0.234-1),
 ucs-school-import,
 ucs-school-ldap-acls-master,
 ucs-school-netlogon-user-logonscripts,
 ucs-school-old-homedirs,
 ucs-school-old-sharedirs,
 ucs-school-info,
 ucs-school-umc-installer,
 libunivention-ldb-modules | univention-samba,
 univention-s4-connector (>= 6.0.128-24) | univention-samba,
 univention-management-console (>= 4.0.231-1),
 univention-management-console-frontend (>= 1.0.320-1),
 univention-management-console-web-server (>= 1.0.320-1),
 univention-management-console-module-selective-udm,
 python-univention (>= 6.0.21-1),
 python-univention-lib (>= 1.0.51-3),
 shell-univention-lib (>= 1.0.51-3),
 ucs-school-netlogon,
 univention-config
Recommends:
 ucs-school-branding,
 ucs-school-umc-computerroom,
 ucs-school-umc-distribution,
 ucs-school-umc-exam,
 ucs-school-umc-exam-master,
 ucs-school-umc-groups,
 ucs-school-umc-helpdesk,
 ucs-school-umc-internetrules,
 ucs-school-umc-lessontimes,
 ucs-school-umc-printermoderation,
 ucs-school-umc-users,
 ucs-school-umc-rooms,
 ucs-school-umc-wizards,
 ucs-school-webproxy,
Description: UCS@School meta package for UCS DC Master System (single server environment)
 This meta package installs all required packages for UCS@School on
 a UCS domaincontroller master. The domaincontroller master will be 
 configured for a single server environment. 
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: ucs-school-nonedu-slave
Architecture: all
Depends: univention-config
Description: UCS@school meta package for non-educational Slave servers
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
