Source: ucs-school-metapackage
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0), univention-config-dev, ucslint
Standards-Version: 3.8.2

Package: ucs-school-master
Architecture: all
Depends: univention-ldap-server (>> 8.0.77-2),
 univention-directory-manager-tools (>> 4.0.29-1),
 ucs-school-import,
 ucs-school-ldap-acls-master,
 ucs-school-umc-helpdesk-schema,
 ucs-school-info,
 univention-management-console-module-selective-udm,
 shell-univention-lib
Recommends:
 ucs-school-umc-wizards
Description: UCS@School meta package for UCS DC Master System (multi DC mode)
 This meta package installs all required packages for UCS@School on
 a UCS domaincontroller master. The domaincontroller master will be 
 setup in multi domaincontroller mode. The package ucs-school-slave
 has to be installed on all domaincontroller slave systems.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: ucs-school-slave
Architecture: all
Depends: univention-directory-manager-tools (>> 4.0.29-1),
 univention-ldap-server (>> 8.0.77-2),
 ucs-school-webproxy,
 univention-samba (>= 6.0.27-1) | univention-samba4,
 univention-samba-slave-pdc | univention-s4-connector,
 univention-samba (>= 6.0.27-1) | libunivention-ldb-modules,
 ucs-school-netlogon-user-logonscripts,
 ucs-school-old-homedirs,
 ucs-school-old-sharedirs,
 ucs-school-info,
 univention-management-console (>= 4.0.226-1),
 python-univention (>> 5.0.7-10),
 ucs-school-netlogon,
 shell-univention-lib,
 shell-ucs-school,
Recommends:
 ucs-school-umc-computerroom,
 ucs-school-umc-distribution,
 ucs-school-umc-groups,
 ucs-school-umc-helpdesk,
 ucs-school-umc-internetrules,
 ucs-school-umc-lessontimes,
 ucs-school-umc-printermoderation,
 ucs-school-umc-users,
 ucs-school-umc-rooms,
 ucs-school-umc-wizards,
Description: UCS@School meta package for UCS DC Slave System
 This meta package installs all required packages for UCS@School on
 a UCS domaincontroller slave. The package ucs-school-master
 has to be installed on domaincontroller master/backup systems.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: ucs-school-singlemaster
Architecture: all
Depends: univention-ldap-server (>> 8.0.77-2),
 univention-directory-manager-tools (>> 4.0.29-1),
 ucs-school-import,
 ucs-school-ldap-acls-master,
 ucs-school-webproxy,
 ucs-school-netlogon-user-logonscripts,
 ucs-school-old-homedirs,
 ucs-school-old-sharedirs,
 ucs-school-info,
 univention-samba | univention-samba4,
 univention-samba | univention-s4-connector,
 univention-management-console (>= 3.0.63-1),
 univention-management-console-module-selective-udm,
 python-univention (>> 5.0.7-10),
 shell-univention-lib,
 ucs-school-netlogon
Recommends:
 ucs-school-umc-computerroom,
 ucs-school-umc-distribution,
 ucs-school-umc-groups,
 ucs-school-umc-helpdesk,
 ucs-school-umc-internetrules,
 ucs-school-umc-lessontimes,
 ucs-school-umc-printermoderation,
 ucs-school-umc-users,
 ucs-school-umc-rooms,
 ucs-school-umc-wizards,
Description: UCS@School meta package for UCS DC Master System (single master mode)
 This meta package installs all required packages for UCS@School on
 a UCS domaincontroller master. The domaincontroller master will be 
 setup in single domaincontroller mode. 
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
