Source: sfb-restore-management
Section: master
Priority: optional
Maintainer: univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 4.0.0), univention-config-dev
Standards-Version: 1.0.0

Package: sfb-restore-management-master
Replaces: sfb-restore-management
Architecture: all
Depends: univention-directory-manager-tools, univention-config-registry, python-univention-directory-manager
Description: manage reinstallation and WakeOnLan of windows hosts

Package: sfb-restore-management-slave
Replaces: sfb-restore-management
Architecture: all
Depends: univention-directory-manager-tools, univention-config-registry, at, wakeonlan, univention-directory-listener, python-univention-directory-manager
Description: manage reinstallation and WakeOnLan of windows hosts
