#!/usr/bin/make -f
#
# SPDX-FileCopyrightText: 2016-2026 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

export LC_ALL=C.UTF-8

%:
	dh $@ --with ucr

override_dh_auto_test:
	dh_auto_test
	ucslint -m 0008

override_dh_auto_install:
	dh_auto_install
	mv debian/ucs-school-l10n-fr/usr/share/univention-management-console/i18n/fr/umc-core.mo debian/ucs-school-l10n-fr/usr/share/univention-management-console/i18n/fr/ucs-school-common.mo
