Source: ucs-school-umc-lessontimes
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 python-all,
 python3-all,
 ucslint,
 univention-management-console-dev (>= 11.0.4-37),
Standards-Version: 3.7.2

Package: ucs-school-umc-lessontimes
Architecture: all
Depends:
 python-ucs-school (>= 12.1.9),
 python-univention-directory-manager,
 python3-ucsschool-lib,
 python3-univention-directory-manager,
 shell-ucs-school,
 ucs-school-umc-common,
 univention-config-registry,
 univention-management-console,
 ${misc:Depends},
 ${python3:Depends},
 ${python:Depends},
Provides:
 ${python3:Provides},
 ${python:Provides},
Description: UMC module to configure the lesson times
 This package contains a UCS@school UMC module to configure default lesson times
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
