Source: univention-python-ipaddr
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 1.0.0
Build-Depends: debhelper, python2.4, python-all-dev, python-central, univention-config-dev
XS-Python-Version: 2.4

Package: python-univention-ipaddr
Architecture: all
Depends: python (>= 2.4), python-central
XB-Python-Version: 2.4
Description: provides ipaddr module for IP address handling
 This package provides a python module for IP address handling.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
