aiofiles
async-lru
async-property
diskcache
fastapi==0.42.0
lazy-object-proxy
ldap3
pyasn1-modules>=0.2.7
pyasn1<0.5.0,>=0.4.6
pydantic[ujson,email]==0.32.2
pyjwt
python-multipart
ucs-school-lib
udm-rest-client
univention-config-registry
uvicorn
