aiofiles
async-lru
async-property
diskcache
fastapi==0.44.0
lazy-object-proxy
ldap3
pyasn1-modules>=0.2.7
pyasn1<0.5.0,>=0.4.6
pydantic[email]>=1.0
pyjwt
python-multipart
ucs-school-lib
udm-rest-client>=0.2.1
ujson
univention-config-registry
uvicorn
