#!/usr/bin/make -f
#
# Univention Management Console Room Admin Module
#  rules file for generating the deb package
#
# Copyright (C) 2005-2009 Univention GmbH
#
# http://www.univention.de/
# 
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#
# Binary versions of this file provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

version=`dpkg-parsechangelog | grep "Version" | sed -e 's/Version: //'`
copyrightyear=`date +%Y`

PACKAGE_NAME=ucs-school-umc-roomadmin
D=$(CURDIR)/debian/${PACKAGE_NAME}
# DESTDIR=debian/tmp

PYVERS=$(shell pyversions -vr)

build: build-stamp
build-stamp: $(PYVERS:%=build-ext-%)
	touch build-stamp
build-ext-%:
	dh_testdir
	make
	touch $@

clean:
	dh_testdir
	dh_testroot
	make clean
	rm -f build-stamp
	dh_clean 


install: build-stamp $(PYVERS:%=install-ext-%)
install-ext-%:
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs 

    # install UMC module
	make PACKAGE=${PACKAGE_NAME} install-modules
	make PACKAGE=${PACKAGE_NAME} install-locales-backend
	make PACKAGE=${PACKAGE_NAME} install-images

    # install ultra vnc stuff
	install -m 0644 ultravnc.php $(D)/usr/share/univention-management-console/www/
	install -m 0644 ultravnc.vnc $(D)/usr/share/univention-management-console/www/

    # install join script
	install -m 0755 38ucs-school-umc-roomadmin.inst ${D}/usr/lib/univention-install/
	install -m 0755 js/request_snapshot.js ${D}/usr/share/univention-management-console/www/js/umc/roomadmin/

	univention-install-config-registry

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i
	dh_pycentral -i
	dh_installman -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: build install
	dh_pycentral

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install configure
