Source: ucs-school-old-homedirs
Section: univention
Priority: optional
Maintainer: univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0), univention-config-dev
Standards-Version: 3.5.2

Package: ucs-school-old-homedirs
Architecture: all
Depends: univention-directory-listener
Description: ucs@school listener module to move away obsolete home directories
 This package contains a univention directory listener module that
 moves away obsolete home directories on deletion of user accounts.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
