Source: univention-nagios-plugin-proxyauth
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.5.2

Package: univention-nagios-plugin-proxyauth
Architecture: all
Depends: nagios-plugins, nagios-nrpe-server, winbind, samba-common
Description: UCS: nagios plugin for proxy authentication
 This package installs the required files to allow monitoring
 the proxy authentication
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
