Source: ucs-school-umc-helpdesk
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 python-support,
 univention-management-console-dev,
 univention-config-dev,
 ucslint
Standards-Version: 3.7.2
XS-Python-Version: 2.6

Package: ucs-school-umc-helpdesk
Architecture: all
Depends: ${misc:Depends},
 univention-management-console,
 univention-config-registry,
 ucs-school-umc-common,
 python-ucs-school,
 shell-ucs-school,
 ucs-school-umc-helpdesk-schema,
 python-univention-directory-manager,
 univention-directory-manager-tools
Description: Univention Directory Manager module to administrate helpdesk categories of UMC
 This package contains an Univention Directory Manager module that provides a
 web frontend or commandline tool to administrate helpdesk categories used
 in Univention Management Console.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: ucs-school-umc-helpdesk-schema
Architecture: all
Depends: univention-ldap-server ( >= 8.0.77-7 ),
 shell-univention-lib (>> 2.0.17-1.125),
 univention-config
Description: LDAP Schema for univention-management-console-helpdesk
 This package contains an LDAP Schema extension for the
 Univention Management Console Helpdesk module.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
