#!/usr/bin/make -f
#
# UCS@school Helpdesk Module
#  rules file for generating the deb package
#
# SPDX-FileCopyrightText: 2004-2025 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

export LC_ALL=C.UTF-8

%:
	dh $@ --with python3,umc,ucr,univention-l10n,univention-join

override_dh_auto_test:
	dh_auto_test
	ucslint
