Source: univention-webui-style-customized
Section: unknown
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 4.0.0), univention-config-dev
Standards-Version: 3.6.1

Package: univention-webui-style-customized
Architecture: any
Depends: univention-webui-style
Description: Custom Univention Webui Style Addon
 This package contains a custom theme for UMC and UDM.
