Source: ucs-school-umc-exam
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 python-support,
 univention-management-console-dev,
 univention-config-dev,
 python-all,
 ucslint
Standards-Version: 3.7.2
XS-Python-Version: 2.6

Package: ucs-school-umc-exam
Architecture: all
Conflicts: univention-samba
Depends: ${misc:Depends},
 univention-management-console-server,
 ucs-school-umc-distribution,
Description: Starts a new exam for a specified computer room
 Starts a new exam for a specified computer room
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: ucs-school-umc-exam-master
Architecture: all
Depends: ${misc:Depends},
 univention-management-console-server,
 python-ucs-school,
 ucs-school-import,
 univention-ldap-config (>= 9.0.27-3),
Description: UMC module delivering backend services for ucs-school-umc-exam
 UMC module delivering backend services for ucs-school-umc-exam
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
