Source: ucs-school-umc-exam
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 python-all,
 python3-all,
 ucslint,
 univention-config-dev,
 univention-join-dev,
 univention-management-console-dev (>= 11.0.4-37),
Standards-Version: 3.7.2

Package: ucs-school-umc-exam
Architecture: all
Depends:
 python-ucs-school (>= 12.1.11),
 ucs-school-umc-distribution,
 univention-management-console-server (>= 11.0.4-37),
 ${misc:Depends},
 ${python3:Depends},
 ${python:Depends},
Provides:
 ${python3:Provides},
 ${python:Provides},
Description: Starts a new exam for a specified computer room
 Starts a new exam for a specified computer room
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: ucs-school-umc-exam-master
Architecture: all
Breaks:
 ucs-school-import (<< 17.0.63),
 ucs-school-lib (<< 12.2.28),
Depends:
 python-ucs-school (>= 12.1.11),
 shell-univention-lib,
 ucs-school-import,
 univention-ldap-config (>= 9.0.27-3),
 univention-management-console-server (>= 11.0.4-37),
 ${misc:Depends},
 ${python3:Depends},
 ${python:Depends},
Provides:
 ${python3:Provides},
 ${python:Provides},
Replaces:
 ucs-school-import (<< 17.0.63),
 ucs-school-lib (<< 12.2.28),
Description: UMC module delivering backend services for ucs-school-umc-exam
 UMC module delivering backend services for ucs-school-umc-exam
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
