Source: ucs-school-umc-csv-import
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 ucslint,
 python-support,
 univention-management-console-dev,
 python-all
Standards-Version: 3.5.2
XS-Python-Version: 2.6

Package: ucs-school-umc-csv-import
Architecture: all
Depends: ${misc:Depends},
 univention-management-console,
 univention-management-console-server,
 univention-config-registry,
 univention-directory-manager-tools (>> 7.0.147),
 python-univention-directory-manager,
 ucs-school-umc-common,
 python-ucs-school,
 shell-ucs-school,
 python-apt
Description: UCS@school UMC CSV import
 This package contains a UMC module for UCS@school that provides the capability
 to upload a file containing many users (students, teachers, staff members)
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
