# SPDX-FileCopyrightText: 2025 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

fastapi
-i https://git.knut.univention.de/api/v4/projects/657/packages/pypi/simple fastapi-dynamic-auth
pydantic[email]
python-multipart
uvicorn
