Source: ucs-school-ucc-integration
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0),
 univention-config-dev,
 ucslint
Standards-Version: 3.8.2

Package: ucs-school-ucc-integration
Architecture: all
Depends: univention-config | ${misc:Depends},
 shell-univention-lib,
 shell-ucs-school
Description: Package containing UCC settings for UCS@school UMC
 This package adds support for UCC systems in UCS@school.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
