Source: ucs-school-umc-common
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0),
 univention-config-dev,
 ucslint,
 univention-management-console-dev
Standards-Version: 3.8.2

Package: ucs-school-umc-common
Architecture: all
Recommends: ucs-school-l10n-fr
Description: Package containing common data for UCS@school UMC modules
 This package contains common data that is shared by the UCS@school
 UMC module packages.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
