#!/usr/bin/make -f
#
# UCS@school
#
# SPDX-FileCopyrightText: 2012-2025 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

export LC_ALL=C.UTF-8

%:
	dh $@ --with umc

override_dh_auto_test:
	dh_auto_test
	ucslint

override_dh_auto_install:
	dh_auto_install
	mv debian/ucs-school-umc-common/usr/share/univention-management-console/i18n/de/umc-core.mo debian/ucs-school-umc-common/usr/share/univention-management-console/i18n/de/ucs-school-common.mo
