Source: ucs-school-umc-groups
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 ucslint,
 univention-config-dev,
 univention-management-console-dev (>= 11.0.4-37),
Standards-Version: 3.7.2

Package: ucs-school-umc-groups
Architecture: all
Replaces:
 ucs-school-umc-schooladmin,
Breaks:
 ucs-school-umc-schooladmin (<< 8.0.0),
Depends:
 python-ldap,
 python-ucs-school (>= 12.1.9),
 python-univention-directory-manager,
 python3-ldap,
 python3-ucsschool-lib,
 python3-univention-directory-manager,
 shell-ucs-school,
 ucs-school-umc-common,
 univention-config-registry,
 univention-directory-manager-tools,
 univention-management-console,
 ${misc:Depends},
 ${python3:Depends},
 ${python:Depends},
Provides:
 ${python3:Provides},
 ${python:Provides},
Description: UMC module to administrate school groups
 This package provides a Univention Management Console module that allows to
 administrate classes (declare associated teachers) and workgroups (full
 administration).
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
