Source: univention-reservation-database
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper
Standards-Version: 3.7.2

Package: univention-reservation-database
Architecture: all
Depends: mysql-server
Description: the SQL infrastructure for the reservation syste.
 This package generates the SQL infrastructe for the reservation
 system based on a mysql server. This package must be installed
 on every reservation system.
