Source: ucs-school-ldap-acls-master
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 7), 
  univention-config-dev, 
  ucslint
Standards-Version: 3.5.2

Package: ucs-school-ldap-acls-master
Architecture: all
Depends: univention-ldap-server (>= 12.1.6-30), univention-ldap-config
Conflicts: univention-server-slave, univention-server-member, univention-mobile-client, univention-managed-client, univention-basesystem
Description: Special LDAP ACLs for UCS@school
 This package provides additional LDAP ACLs for slapd
 that are required to run UCS@school ontop of UCS.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
