#!/usr/bin/make -f
#
# UCS@school
#  UMC module for file distribution
#
# SPDX-FileCopyrightText: 2008-2026 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

export LC_ALL=C.UTF-8

%:
	dh $@ --with ucr,univention-join

override_dh_auto_test:
	dh_auto_test
	ucslint
