Source: ucs-school-umc-schooladmin
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, python2.4, python-all-dev, python-central, univention-config-dev
Standards-Version: 3.7.2
XS-Python-Version: 2.4

Package: ucs-school-umc-schooladmin
Architecture: all
Depends: univention-config-registry, univention-directory-manager-tools, python-univention-management-console, python2.4
XB-Python-Version: ${python:Versions}
Description: Univention Management Console module to administrate pupils and teachers
 This package contains an Univention Management Console module that provides
 a simplificated view on Univention Directory Manager Users to administrate
 school-specific accounts and settings for pupils and teachers.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
