Source: ucs-school-scheduler
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, python-central
Standards-Version: 3.7.2
XS-Python-Version: 2.4

Package: ucs-school-scheduler
Architecture: all
XB-Python-Version: all
Depends: ucs-school-reservation-database, ucs-school-reservation-dbconnector, univention-config-registry (>=3.1.1), python2.4
Description: Scheduling daemon that starts and stops reservations.
 This package contains the scheduling daemon that scans the database in time
 intervals and starts and stops reservations.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
