Source: ucs-school-scheduler
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7),
 python-all,
 python-support (>= 0.90),
 ucslint
Standards-Version: 3.8.2

Package: ucs-school-scheduler
Architecture: all
Provides: ${python:Provides}
Depends: ucs-school-reservation-database,
 ucs-school-reservation-dbconnector,
 univention-config-registry,
 ${misc:Depends},
 ${python:Depends}
Description: Scheduling daemon that starts and stops reservations.
 This package contains the scheduling daemon that scans the database in time
 intervals and starts and stops reservations.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
