Source: ucs-school-umc-distribution
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 python-support,
 univention-management-console-dev,
 univention-config-dev,
 ucslint
Standards-Version: 3.7.2
XS-Python-Version: 2.6

Package: ucs-school-umc-distribution
Architecture: all
Depends: ${misc:Depends},
 univention-management-console,
 python-univention-lib,
 univention-config-registry,
 ucs-school-umc-common,
 python-ucs-school,
 shell-ucs-school
Description: UMC module to distribute/collect teaching material to/from pupils home directories
 This package provides a Univention Management Console module to distribute
 teaching material into pupils home directory and to collect their results.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
