Source: ucs-school-reservation-database
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper
Standards-Version: 3.7.2

Package: ucs-school-reservation-database
Architecture: all
Depends: mysql-server
Description: the SQL infrastructure for the reservation syste.
 This package generates the SQL infrastructe for the reservation
 system based on a mysql server. This package must be installed
 on every reservation system.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
