Source: ucs-school-import
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 10),
 univention-config-dev,
 ucslint,
 python-sphinx,
 python-sphinx-rtd-theme,
 make,
 python2.7-doc,
 default-jre,
 dh-python,
 python-debian,
 python-all,
 python3-debian,
 python3-all,
Standards-Version: 3.8.2

Package: ucs-school-import
Architecture: all
Depends: univention-directory-manager,
 ucs-school-import-schema (= ${source:Version}),
 univention-policy-tools (>= 5.0.8),
 shell-ucs-school (>= 5.0.38),
 shell-univention-lib,
 univention-config,
 univention-join,
 python-ucs-school-import,
Description: UCS@school: Importing objects like users and computers
 This package provides scripts for importing objects like users, groups,
 networks and computers.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
Homepage: https://www.univention.de/produkte/ucsschool/

Package: python-ucs-school-import
Architecture: all
Depends: ${python:Depends},
 python-ucs-school (>= 12.1.8),
 python-univention (>= 12.0.0-5),
 python-univention-lib,
 python-lazy-object-proxy,
 python-six,
Provides: ${python:Provides},
Description: UCS@school: Importing objects like users and computers
 This package provides scripts for importing objects like users, groups,
 networks and computers.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
Homepage: https://www.univention.de/produkte/ucsschool/

Package: python3-ucs-school-import
Architecture: all
Depends: ${python:Depends},
 python3-ucs-school (>= 12.1.8),
 python3-univention (>= 12.0.0-5),
 python3-univention-lib,
 python3-lazy-object-proxy,
 python3-six,
Provides: ${python:Provides},
Description: UCS@school: Importing objects like users and computers
 This package provides scripts for importing objects like users, groups,
 networks and computers.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
Homepage: https://www.univention.de/produkte/ucsschool/

Package: ucs-school-import-schema
Depends: python-univention-directory-manager-cli (>= 4.0.19-1),
 shell-univention-lib (>> 2.0.17-1.125),
 univention-ldap-server ( >= 8.0.77-7 ),
 univention-config
Architecture: all
Description: UCS@school: LDAP import schema and custom attributes
 This package provides LDAP schema required by ucs-school-import.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: ucs-school-import-http-api
Architecture: all
Depends: ${misc:Depends},
 python-ucs-school-import-http-api,
 univention-config,
 ucs-school-import (= ${source:Version}),
 ucs-school-import-http-api-common (= ${source:Version}),
 univention-celery (>=1.0.0-1),
 gunicorn (>=19.0-1),
 univention-postgresql,
Recommends: ucs-school-umc-import
Conflicts: python3-celery,
 python-django-filters (<<1.0.0),
Description: UCS@school: RESTful API for importing users
 This package provides a service for importing users using a RESTful HTTP API.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
Homepage: https://www.univention.de/produkte/ucsschool/

Package: python-ucs-school-import-http-api
Architecture: all
Depends: ${python:Depends},
 python-ucs-school-import-http-api-common (= ${source:Version}),
 python-django (>=1.8),
 python-djangorestframework (>= 3.4.0-2),
 python-django-celery (>=3.1.16-1),
 python-django-filter (>=1.0.1-1),
 python-psycopg2 (>=2.5.4),
 python-django-pam (>=1.2.0-1),
 python-pampy (>=1.8.2-1),
Provides: ${python:Provides},
Conflicts: python3-celery,
 python-django-filters (<<1.0.0),
Description: UCS@school: RESTful API for importing users
 This package provides a service for importing users using a RESTful HTTP API.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
Homepage: https://www.univention.de/produkte/ucsschool/

Package: python3-ucs-school-import-http-api
Architecture: all
Depends: ${python:Depends},
 python3-ucs-school-import-http-api-common (= ${source:Version}),
 python3-django (>=1.8),
 python3-djangorestframework (>= 3.4.0-2),
 python3-django-celery (>=3.1.16-1),
 python3-django-filter (>=1.0.1-1),
 python3-psycopg2 (>=2.5.4),
 python3-django-pam (>=1.2.0-1),
 python3-pampy (>=1.8.2-1),
Provides: ${python:Provides},
Conflicts: python3-celery,
 python-django-filters (<<1.0.0),
Description: UCS@school: RESTful API for importing users
 This package provides a service for importing users using a RESTful HTTP API.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
Homepage: https://www.univention.de/produkte/ucsschool/

Package: python-ucs-school-import-http-api-client
Architecture: all
Depends: ${python:Depends},
 python-requests,
 python-magic,
 python-univention-config-registry,
 python-ucs-school-import-http-api-common (= ${source:Version}),
Provides: ${python:Provides},
Description: UCS@school: Python client library for the US@school API
 This package provides a Python client for accessing the RESTful HTTP API.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
Homepage: https://www.univention.de/produkte/ucsschool/

Package: python3-ucs-school-import-http-api-client
Architecture: all
Depends: ${python:Depends},
 python3-requests,
 python3-magic,
 python3-univention-config-registry,
 python3-ucs-school-import-http-api-common (= ${source:Version}),
Provides: ${python:Provides},
Description: UCS@school: Python client library for the US@school API
 This package provides a Python client for accessing the RESTful HTTP API.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
Homepage: https://www.univention.de/produkte/ucsschool/

Package: python-ucs-school-import-http-api-common
Architecture: all
Depends: ${python:Depends}
Replaces:
 ucs-school-import-http-api (<< 17.0.6-15)
Provides: ${python:Provides},
Breaks:
 ucs-school-import-http-api (<< 17.0.6-15)
Description: UCS@school: Common files for UCS@school API client and server
 This package provides common files of the RESTful HTTP API client and server.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
Homepage: https://www.univention.de/produkte/ucsschool/

Package: python3-ucs-school-import-http-api-common
Architecture: all
Depends: ${python:Depends}
Replaces:
 ucs-school-import-http-api (<< 17.0.6-15)
Provides: ${python:Provides},
Breaks:
 ucs-school-import-http-api (<< 17.0.6-15)
Description: UCS@school: Common files for UCS@school API client and server
 This package provides common files of the RESTful HTTP API client and server.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
Homepage: https://www.univention.de/produkte/ucsschool/

Package: ucs-school-import-http-api-common
Architecture: all
Depends: ${misc:Depends}
Replaces:
 ucs-school-import-http-api (<< 17.0.6-15)
Breaks:
 ucs-school-import-http-api (<< 17.0.6-15)
Description: UCS@school: Common files for UCS@school API client and server
 This package provides common files of the RESTful HTTP API client and server.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
Homepage: https://www.univention.de/produkte/ucsschool/

Package: ucs-school-import-http-api-doc
Architecture: all
Description: UCS@school: HTTP API documentation
 This package provides HTML documentation of the HTTP API client and server
 installation, configuration und usage.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
Homepage: https://www.univention.de/produkte/ucsschool/
