Source: ucs-school-import
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0), univention-config-dev, ucslint
Standards-Version: 3.8.2

Package: ucs-school-import
Architecture: all
Replaces: sfb-import
Conflicts: sfb-import
Provides: sfb-import
Depends: univention-directory-manager,
 ucs-school-import-schema,
 univention-policy-tools (>= 5.0.8),
 univention-config
Description: UCS@School: Importing objects like users and computers
 This package provides scripts for importing objects like users, groups,
 networks and computers.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: ucs-school-import-schema
Depends: python-univention-directory-manager-cli (>= 4.0.19-1),
 shell-univention-lib (>> 2.0.17-1.125),
 univention-ldap-server ( >= 8.0.77-7 )
Replaces: sfb-import-schema
Conflicts: sfb-import-schema
Provides: sfb-import-schema
Architecture: all
Description: UCS@School: LDAP import schema and custom attributes
 This package provides LDAP schema required by ucs-school-import.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
