Source: ucs-school-import
Section: master
Priority: optional
Maintainer: univention GmbH , Ingo Steuwer <steuwer@univention.de>
Build-Depends: debhelper (>> 3.0.0), univention-config-dev
Standards-Version: 1.0.0

Package: ucs-school-import
Architecture: all
Depends: univention-directory-manager
Description: Importing objects like users and computers

Package: ucs-school-import-schema
Architecture: all
Description: ldap import schema and custom attributes
