#!/usr/bin/make -f
#
# UCS@school import
#
# SPDX-FileCopyrightText: 2007-2025 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

export LC_ALL=C.UTF-8

APIDOC_BASE_DIR := usr/share/doc/ucs-school-import-http-api
APIDOCSRC_DIR := $(APIDOC_BASE_DIR)/source
PLANTUML_DIR := $(APIDOC_BASE_DIR)/plantuml
APIDOCSRC_FILES := $(shell find $(APIDOCSRC_DIR) -name '*.rst' -o -name '*.png')
PYMODULESRC_FILES := $(shell find modules/ -name '*.py')

%:
	dh $@ --with python3,univention-l10n,ucr,univention-join

plantuml:
	$(MAKE) -C $(PLANTUML_DIR)
	cp -v $(PLANTUML_DIR)/*.png $(PLANTUML_DIR)/*.svg $(APIDOCSRC_DIR)

pymoduledoc: $(PYMODULESRC_FILES)
	sphinx-apidoc --force --private --no-toc -o $(APIDOCSRC_DIR)/python/ modules/

apidoc:	$(APIDOCSRC_FILES) plantuml pymoduledoc
	$(MAKE) -C$(APIDOC_BASE_DIR) html

override_dh_auto_build: apidoc
	dh_auto_build

override_dh_installsystemd:
	dh_installsystemd
	# FIXME: dh_installsystemd: Package 'ucs-school-import' does not install unit 'ucs-school-celery.service'.
	# dh_installsystemd --name ucs-school-import-celery-worker ucs-school-celery.service
	mv debian/ucs-school-celery/lib/systemd/system/ucs-school-celery.service debian/ucs-school-celery/lib/systemd/system/ucs-school-import-celery-worker.service

override_dh_fixperms:
	dh_fixperms
	chmod 750 debian/ucs-school-import/var/lib/ucs-school-import/passwords
	chmod 750 debian/ucs-school-import/var/lib/ucs-school-import/summary
	chmod 750 debian/ucs-school-import-http-api/var/lib/ucs-school-import/jobs
	chmod 750 debian/ucs-school-import-http-api/var/spool/ucs-school-import/media/uploads

override_dh_auto_clean:
	dh_auto_clean
	$(RM) debian/ucs-school-import.conffiles
	$(RM) debian/ucs-school-import-schema.conffiles
	$(MAKE) -C $(APIDOC_BASE_DIR) clean
	$(MAKE) -C $(PLANTUML_DIR) clean
	$(RM) $(APIDOCSRC_DIR)/python/*

override_dh_installdeb:
	dh_installdeb
	sed -i 's/ucs-school-celery\.service/ucs-school-import-celery-worker.service/g' debian/ucs-school-celery.postinst.debhelper  debian/ucs-school-celery.postrm.debhelper  debian/ucs-school-celery.preinst.debhelper  debian/ucs-school-celery.prerm.debhelper debian/ucs-school-celery/DEBIAN/postinst  debian/ucs-school-celery/DEBIAN/postrm  debian/ucs-school-celery/DEBIAN/preinst  debian/ucs-school-celery/DEBIAN/prerm

override_dh_auto_test:
	dh_auto_test
	ucslint
