#!/usr/bin/make -f
#
# UCS@school import
#
# Copyright 2007-2018 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# The source code of this program is made available
# under the terms of the GNU Affero General Public License version 3
# (GNU AGPL V3) as published by the Free Software Foundation.
#
# Binary versions of this program provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention and not subject to the GNU AGPL V3.
#
# In the case you use this program under the terms of the GNU AGPL V3,
# the program is provided in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License with the Debian GNU/Linux or Univention distribution in file
# /usr/share/common-licenses/AGPL-3; if not, see
# <http://www.gnu.org/licenses/>.

PO_FILES := $(shell find udm_hook syntax modules -name '*.po')
MO_FILES := $(PO_FILES:%.po=%.mo)

APIDOC_BASE_DIR := usr/share/doc/ucs-school-import-http-api
APIDOCSRC_DIR := $(APIDOC_BASE_DIR)/source
PLANTUML_DIR := $(APIDOC_BASE_DIR)/plantuml
APIDOCSRC_FILES := $(shell find $(APIDOCSRC_DIR) -name '*.rst' -o -name '*.png')
PYMODULESRC_FILES := $(shell find modules/ -name '*.py')

%.mo:	%.po
	msgfmt --check -o $@ $<

plantuml:
	make -C $(PLANTUML_DIR)
	cp -v $(PLANTUML_DIR)/*.png $(PLANTUML_DIR)/*.svg $(APIDOCSRC_DIR)

pymoduledoc: $(PYMODULESRC_FILES)
	sphinx-apidoc --force --private --no-toc -o $(APIDOCSRC_DIR)/python/ modules/

apidoc:	$(APIDOCSRC_FILES) plantuml pymoduledoc
	make -C$(APIDOC_BASE_DIR) html

override_dh_auto_build: $(MO_FILES) apidoc
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	univention-install-config-registry

override_dh_fixperms:
	dh_fixperms
	chmod 750 debian/ucs-school-import/var/lib/ucs-school-import/passwords
	chmod 750 debian/ucs-school-import/var/lib/ucs-school-import/summary
	chmod 750 debian/ucs-school-import-http-api/var/lib/ucs-school-import/jobs
	chmod 750 debian/ucs-school-import-http-api/var/spool/ucs-school-import/media/uploads

override_dh_auto_clean:
	dh_auto_clean
	rm -f debian/ucs-school-import.conffiles
	rm -f debian/ucs-school-import-schema.conffiles
	make -C $(APIDOC_BASE_DIR) clean
	make -C $(PLANTUML_DIR) clean
	rm -f $(APIDOCSRC_DIR)/python/*

override_dh_auto_test:
	dh_auto_test
	ucslint

%:
	dh $@ --with python_support --with systemd
