[Unit]
Description=gunicorn-ucsschool-import
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=root
Group=root
Restart=always
ExecStart=/usr/bin/gunicorn --workers=4 --bind=127.0.0.1:8000 --timeout=60 ucsschool.http_api.app.wsgi:application --name ucs-school-import --user root --group root
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
WorkingDirectory=/var/spool/ucs-school-import/
#Environment=PYTHONPATH='/path/to/mysite'
PrivateTmp=true
