Source: ucs-school-roleshares
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 ucslint,
 python-support,
 python-all
Standards-Version: 3.5.2
XS-Python-Version: 2.6

Package: ucs-school-roleshares
Architecture: all
Depends: ${misc:Depends},
 univention-config-registry,
 python-ucs-school (>= 5.0.3-20)
Description: UCS@school role shares
 This package contains support for UCS@school role shares.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
