Source: sfb-master-acls
Section: univention
Priority: optional
Maintainer: univention GmbH , Ingo Steuwer <steuwer@univention.de>
Build-Depends: debhelper (>> 3.0.0), univention-config-dev
Standards-Version: 3.5.2

Package: sfb-master-acls
Architecture: all
Depends: univention-ldap-server, univention-ldap-config (>= 1.43-19.178.200704181127)
Description: slapd-ACLs customized for SFB Bremen 
