Source: ucs-school-umc-rooms
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 python-support,
 univention-management-console-dev,
 univention-config-dev,
 ucslint
Standards-Version: 3.7.2
XS-Python-Version: 2.6, 2.7

Package: ucs-school-umc-rooms
Architecture: all
Replaces: ucs-school-umc-roomadmin
Breaks: ucs-school-umc-roomadmin (<< 8.0.0)
Depends: ${misc:Depends},
 univention-management-console,
 univention-config-registry,
 ucs-school-umc-common,
 python-ucs-school,
 shell-ucs-school,
 python-univention-directory-manager
Description: UMC module to administrate rooms and their computers
 This package provides a Univention Management Console module that allows to
 administrate school rooms and their associated computers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: ucs-school-umc-roomadmin
Depends: ucs-school-umc-rooms, ucs-school-umc-computerroom, ${misc:Depends}
Architecture: all
Description: transitional dummy package
 Package to ease upgrading from ucs-school-umc-roomadmin to
 ucs-school-umc-rooms and -computerroom. This package can be purged at
 anytime once the ucs-school-umc-internetrules package has been
 installed.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

