Source: ucs-school-umc-printermoderation
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, python2.4, python-all-dev, python-central, univention-config-dev
Standards-Version: 3.7.2
XS-Python-Version: 2.4

Package: ucs-school-umc-printermoderation
Architecture: all
Depends: univention-config-registry, python-univention-management-console (>= 3.0.63-1), univention-printserver-pdf, python2.4
XB-Python-Version: ${python:Versions}
Description: UMC module to moderate print jobs
 This package contains an Univention Management Console module to manage and
 moderate print jobs from pupils.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
