Source: ucs-school-umc-printermoderation
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 python-support,
 univention-management-console-dev,
 ucslint,
 python-all,
 univention-config-dev
Standards-Version: 3.7.2
XS-Python-Version: 2.6, 2.7

Package: ucs-school-umc-printermoderation
Architecture: all
Depends: ${misc:Depends},
 univention-management-console-server,
 univention-printserver-pdf,
 poppler-utils,
 shell-ucs-school
Description: UCS@school UMC module for moderating print
 This package contains a UMC module for moderating print jobs of students
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
