Source: ucs-school-umc-users
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 python-support,
 univention-management-console-dev,
 univention-config-dev,
 ucslint
Standards-Version: 3.7.2
XS-Python-Version: 2.6, 2.7

Package: ucs-school-umc-users
Architecture: all
Replaces: ucs-school-umc-schooladmin
Breaks: ucs-school-umc-schooladmin (<< 8.0.0)
Depends: ${misc:Depends},
 univention-management-console,
 univention-config-registry,
 ucs-school-umc-common,
 python-ucs-school,
 shell-ucs-school,
 python-univention-directory-manager
Description: UMC modules to reset account passwords
 This package contains two UMC modules for resetting
 passwods of teacher and student accounts.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: ucs-school-umc-schooladmin
Depends: ucs-school-umc-users, ucs-school-umc-groups, ${misc:Depends}
Architecture: all
Description: transitional dummy package
 Package to ease upgrading from ucs-school-umc-schooladmin to
 ucs-school-umc-users and -groups. This package can be purged at anytime
 once the ucs-school-umc-internetrules package has been installed.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
