Source: ucs-school-umc-users
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 ucslint,
 univention-config-dev,
 univention-management-console-dev (>= 11.0.4-37),
Standards-Version: 3.7.2

Package: ucs-school-umc-users
Architecture: all
Replaces:
 ucs-school-umc-schooladmin,
Breaks:
 ucs-school-umc-schooladmin (<< 8.0.0),
Depends:
 python-ucs-school (>= 12.1.9),
 python-univention-directory-manager,
 shell-ucs-school,
 ucs-school-umc-common,
 univention-config-registry,
 univention-management-console,
 ${misc:Depends},
 ${python3:Depends},
 ${python:Depends},
Provides:
 ${python3:Provides},
 ${python:Provides},
Description: UMC modules to reset account passwords
 This package contains two UMC modules for resetting
 passwods of teacher and student accounts.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: ucs-school-umc-schooladmin
Depends:
 ucs-school-umc-groups,
 ucs-school-umc-users,
 ${misc:Depends},
 ${python3:Depends},
 ${python:Depends},
Architecture: all
Description: transitional dummy package
 Package to ease upgrading from ucs-school-umc-schooladmin to
 ucs-school-umc-users and -groups. This package can be purged at anytime
 once the ucs-school-umc-internetrules package has been installed.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
