Source: univention-reservation-customdata
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper
Standards-Version: 3.7.2

Package: univention-reservation-lessontimes
Architecture: all
Depends: univention-reservation-database
Description: Lesson name to realtime mapping for the reservation system.
 This package ships lessontime definitions for the reservation
 system in SQL format. This package must be installed
 on every reservation system.

Package: univention-reservation-defaultprofile
Architecture: all
Depends: univention-reservation-database, python-mysqldb, univention-samba (>=2.0.4), univention-printserver (>=1.0.9-5), univention-printserver-pdf
Description: Lesson name to realtime mapping for the reservation system.
 This package ships lessontime data for the reservation
 system in SQL format. This package must be installed
 on every reservation system.
