Source: ucs-school-radius-802.1x
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, univention-config-dev, ucslint

Package: ucs-school-radius-802.1x
Architecture: all
Conflicts: univention-kernel-image-2.6, univention-kernel-image
Depends: univention-config-registry, freeradius, freeradius-ldap, freeradius-utils, univention-ssl
Description: freeradius 802.1X integration package for Univention Corporate Server
 Sets up a freeradius RADIUS server to support 802.1X authenticators
